@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family:inherit;font-size:100%;font-style: inherit;font-weight: inherit;margin: 0;padding: 0;vertical-align: baseline;}
article, aside, details, figcaption,figure,footer, header, hgroup, menu, nav, section {display:block;margin:0;padding:0;}

body{ margin:0; padding:0;line-height:1; font-family:"open_sansregular"; background:#f1f1f1; color:#666666;}

@font-face {
    font-family:'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'my-font';
	src: url('Roboto-Medium.eot');
	src: local('☺'), url('Roboto-Medium.woff') format('woff'), url('Roboto-Medium.ttf') format('truetype'), url('Roboto-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
input{outline:0;}
img{ border:0; max-width:100%;}
.cl{clear:both;}
ul{ list-style:none; margin:0; padding:0;}

.main{width:1013px;margin:9px auto;padding:0; background:#FFF;}
.main .header{float:left; width:97.01%; margin:0; padding:0 1.5%;}
.main .header .top-header{ float:right; margin:0; padding:0; vertical-align:middle; width:100%;}
.main .header .top-header ul li{ float:left;vertical-align:middle; padding:0 4px; margin:0;}
.main .header .top-header ul li img{ vertical-align:middle; margin:0; padding:0;}
.main .header .top-header ul li input[type="image"]{vertical-align:middle;}
.main .header .top-header ul li a{ text-decoration:none; font-size:12px; margin:0; padding:0;}
.main .header .logo{ float:left; margin:0; padding:9px 0 9px 25px;}
.main .header .header-right{padding:20px 0 0; margin:0; float:right;}
.main .header .header-right ul li{ display:inline-block;padding:0 0 0 5px; margin:0;} 
.main .header .top-header ul{ float:left; margin:0; padding:0;}
.main .header .search-box{ position:relative; float:right;}
.top-header-right{ float:right; margin:0; padding:4px 0;}
.search-box input[type="text"]{ width:160px; padding:3px; margin:0;}
.search-box input[type="search"]{ cursor:pointer; border:none; height:17px; width:17px; position:absolute; top:3px; right:3px;}
.main .container{ margin:auto; width:990px;}

.main .nav{ margin:13px 0; padding:0; float:left; width:100%;}
.main .nav ul li{ float:left; margin:0; padding:0 30px; position:relative;}
.main .nav ul li a{ text-decoration:none; font-size:15px; font-family:"my-font"; display:block; padding:13px 0;}

#menu ul{position:absolute;z-index:122; left:0; top:41px;}
#menu ul, #menu:hover ul ul, #menu .hover ul ul{margin-left:-9999px;}
#menu li:hover > ul, #menu li.hover > ul, #menu a:focus + ul, #menu ul ul, #menu .hover a:focus{margin-left:0px;}
.nav ul li:hover ul{display:block;width:212px;top:0px;position:absolute;z-index:99999;}
.nav ul li ul li{width:212px;float:none;background:none;display:block;position:relative; padding:0!important;}
.nav ul li ul li a{padding:10px 18px!important; display:block; margin:0!important; font-size:80%!important; font-weight:500;}
.nav ul li ul li:hover ul{display:block!important; top:-1px!important; left:212px!important;width:212px!important; position:absolute; z-index:999999;}
.nav ul li ul li.hover ul{ left:212px!important; top:0px!important;}
.nav ul li ul li:hover ul li{ width:212px!important;}
.slicknav_menu{ display:none;}

.left-part{float:left; margin:0; padding:0;width:65.5%;}
.banner{display:block; margin:0; padding:0; height:280px;}
.what-new{ float:right; margin:0; padding:0; width:33%;height:271px; position:relative;}
.what-new h3{ font-size:108%;font-family:"my-font";padding:5% 3%;}
.what-new .new-box{padding:0 11px; height:190px; overflow:hidden;}
.what-new .new-box ul li a{ font-size:82%; padding:8px 0 8px 15px; margin:0; text-decoration:none; line-height:16px; height:29px; overflow:hidden;}
.what-new .view{ display:block; margin:0; padding:7px 12px; text-decoration:none; font-size:82%; text-align:right;}

.n-play-pause{ display:block; position:absolute; right:9px;top:19px;}
.n-play-pause a{z-index:999999999; float:left; margin:0 3px;}

.mid{ float:left; width:100%;margin:0; padding:0;}
.mid .left-panel-box{ width:25%;margin:0;padding:0; float:left;} 
.mid .left-panel-box h2{ padding:10px 13px; margin:0;}
.mid .left-panel-box .ui-accordion .ui-accordion-header{width:auto;margin:0;padding:0;}
.mid .left-panel-box .inner-left-box h3{ font-size:85%;padding:8px 12px !important;}
.mid .left-panel-box .inner-left-box ul li{ display:block; margin:0;}
.mid .left-panel-box .inner-left-box ul li a{ display:inline-block; text-decoration:none; margin:0; padding:7px 0px 7px 27px; font-size:80%;}

.mid .left-panel-box .related-link{ float:left; width:100%; margin:11px 0 0 0; padding:0;}
.mid .left-panel-box .related-link ul li{ display:inline-block;margin:0; padding:9px 0; margin:0 0 1px; width:100%;}
.mid .left-panel-box .related-link ul li a{display:inline-block;margin:0; padding:0 0 0 15px; text-decoration:none; font-size:85%;}

.mid .full-right-panel{width:74%;margin:0 0 0 1%;padding:0; float:right;}
.mid .full-right-panel h3.title{vertical-align:middle; font-size:95%; font-family:"my-font"; padding:10px; margin:0 0 5px 0;}
.mid .full-right-panel h3 img{ vertical-align:middle; float:right;}
.mid .full-right-panel p{ font-size:85%; line-height:20px; padding:0 0 15px 0;}

.news span{font-size:95%;margin:0; padding:2%; float:left; width:16%;}
.news .news-box{ float:left; margin:0; padding:0; width:80%; height:41px; overflow:hidden; position:relative;}


.tickercontainer {width:100%;margin: 0;padding: 0;overflow: hidden;}
.tickercontainer .mask {position: relative;width: 100%;overflow: hidden;}
ul.newsticker {position:relative;list-style-type: none;margin: 0;padding: 0;}
ul.newsticker li {float: left;margin:15px 10px 10px 10px;padding:0;font-size:83%;}
.er-controls{position:absolute; right:0px; width:65px; height:41px; top:0;}
.er-controls li{ float:left; padding:0; text-indent:-999px;}
.er-controls .pause{height:12px; width:12px; margin-top:16px; margin-left:17px; cursor:pointer;}
.er-controls .play{height:16px; width:12px;margin-top:14px; margin-left:10px;cursor:pointer;}

.tab-box{ float:left; margin:15px 0; padding:0; width:100%;}
.nav1 > li > a {display: block;}
.nav-tabs:before, .nav-tabs:after {display: table;content: "";}
.nav-tabs:after {clear: both;}
.nav-tabs > li {float: left;}
.nav-tabs > li > a {padding-right:14px;padding-left:14px;margin-right:2px;line-height:14px;font-size:13.7px;text-align:center;text-decoration:none;padding-top:15px;padding-bottom:15px;}
.nav-tabs li a.tab2{padding-top:8px;padding-bottom:8px;}
.nav-tabs li a.tab3{padding-top:8px;padding-bottom:8px;}
.nav-tabs > li {margin-bottom: -1px;}
.tab-content{ font-size:85%; margin:0; padding:0; overflow:hidden; min-height:304px; position:relative;}
.tab-content.active{display: block;}
.tab-content.hide{display: none;}
.tab-content ol{ margin:22px 0 0 0;}
.tab-content ol li{ margin:0; padding:5px 0 5px 18px;}
.tab-content p{ padding:5px 0;}
.view1{ position:absolute; right:15px; bottom:12px; text-decoration:none;}
.view1:hover{ text-decoration:underline;}

.link-box{ float:left; margin:0 0 15px; width:100%;}
.link-box ul li{ margin:0; padding:0 10px 0 0; float:left;}
.link-box ul li:last-child{ padding:0;}

.right-box{ width:33%; margin:0; padding:0;float:right;}
.right-box .in-focus{ float:left; margin:0px 0 5px 12px; position:relative; height:155px;}
.right-box .in-focus p{ position:absolute; margin:0; padding:11px 0 0 4%; display:block; height:28px; width:96%; bottom:0;font-family:"my-font";}
.right-box .museum-link{ float:left; margin:0 0 0 12px; padding:0;}

.jcarousel-skin-dk{ float:left;}
.caroufredsel_wrapper ul li{float:left;}
.caroufredsel_wrapper ul li img{ width:100%;}
.boxnext{ position:absolute; bottom:6px; right:8px; z-index:9999;}
.boxnext a{ display:inline-block; margin:0 3px; padding:0;}

.ui-selectable-helper {position: absolute;z-index: 100;border:1px dotted black;}
.ui-accordion .ui-accordion-header{cursor: pointer;position: relative;min-height:0; width:290px; padding:11px 0 11px 12px; margin:0 0 2px 0;}
.ui-accordion .ui-accordion-content p{font-size:80%; padding:10px;}


.footer{ width:100%; margin:0; padding:15px 0; text-align:center;font-size:80%; display:inline-block;}
.footer ul li{ display:inline-block; margin:0; padding:4px 0;}
.footer ul li a{display:inline-block; margin:0; padding:0 7px; text-decoration:none;} 

.footer-box{margin:0;padding:12px 0 0 0; float:left; width:100%;}

.footer .footer-box .footerbox-left{ float:left; margin:0; padding:0; font-size:95%; font-family:"my-font"; width:20%; text-align:left;}
.footer .footer-box .footerbox-mid{ width:60%;float:left; }
.footer .footer-box .footerbox-right{float:right; margin:0; padding:0;font-size:95%; font-family:"my-font";width:20%; text-align:right;}